/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;

}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, main {
	display: block;
}
body {
	line-height: 1;
	/*margin: 10px;*/
	font: 12px "Verdana";

}
h1{
	font-size: 26px;
	text-align: center;  
	margin: 18px 0;
	font-family: 'Roboto', sans-serif;
	color: #4d665f;
  }

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



#demo-wrapper {
	display: flex;
}

 /* container_multimedios */
 .container_multimedios{
   width: 100%;
   border:0px solid #f2f2f2;
   background-color: #f7eee8;
   display: flex;
   flex-wrap: wrap; 
   justify-content:center;

 }
 .multimedios_item_0{
    width: 600px;
    display: -webkit-flex;
    display: -ms-flexbox;



    display: flex;
    flex-wrap: wrap; 
    /*  align-items: center;*/
    align-content: center;
    justify-content:center;
 
 }
 .multimedios_item_0_1{
    color: #003a5c;
	margin: 5px;
	width: 250px;
	/*height: 50px;
	background:#bada55;*/
	text-align: center;	
	font-size: 26px;
	border: 1px solid #777;
    font-family: 'Roboto', sans-serif;
    border-radius: 5px;
    /*  border-left: 6px solid #fff;*/
    border-left: 6px solid #eab100;

    display: flex;
    flex-wrap: wrap; 
    align-items: center;
    justify-content:space-around;

 }
 .p1_multimedios{
  font-size: 14px;
  color: #003a5c;
}
/* container_telediario */
.container_telediario{
   width: 100%;
   border:0px solid #f2f2f2;
   /*background: #faf7f3;   fallback for old browsers */
  
   display: flex;
   flex-wrap: wrap; 
   justify-content:center;

 }

 .telediario_item_0{
    width: 1200px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap; 
    /*  align-items: center;*/
    align-content: center;
    justify-content:center;
 }
 .telediario_item_0_1{
    color: #1e5372;
	margin: 5px;
	width: 250px;
	/*height: 50px;
	background:#bada55;*/

	text-align: center;	
	font-size: 26px;
	border: 1px solid #1e5372;
    font-family: 'Roboto', sans-serif;
    border-radius: 5px;
     border-left: 6px solid #1e5372;
/*     background-color: #faf7f3;*/
background-color: #f7eee8;

 }
 .p1_telediario{
  font-size: 14px;
  color: #4d665f;
}







.container_multimedia{
   width: 100%;
   border:0px solid #f2f2f2;
   /*background: #faf7f3;   fallback for old browsers */
   background-color: #e4eed4;
   display: flex;
    flex-wrap: wrap; 
    /*  align-items: center;*/
     align-content: center;
    justify-content:center;

}
.item_multimedia{
	color: #4d665f;
	margin: 5px;
	width: 250px;
	/*height: 50px;
	background:#bada55;*/

	text-align: center;	
	font-size: 26px;
    font-family: 'Roboto', sans-serif;
    border-radius: 5px;


    display: flex;
    flex-wrap: wrap; 
    align-items: center;
    justify-content:space-around;

}

.container_age{
	background-color: #e4eed4;
	width: 100%;
    border:0px solid #f2f2f2;
 
    display: flex;
    flex-wrap: wrap; 
    /*  align-items: center;*/
    align-content: center;
    justify-content:center;
	
	}
.item_age{
	color: #4d665f;
	margin: 5px;
	width: 300px;
	/*height: 50px;
	background:#bada55;*/
	text-align: center;	
	font-size: 26px;
	border: 1px solid #4d665f;
    font-family: 'Roboto', sans-serif;
    border-radius: 5px;
    border-bottom: 6px solid #4d665f;

    display: flex;
    flex-wrap: wrap; 
    align-items: center;
    justify-content:space-around;

	}
	.item_age_0{
  	color: #4d665f;
  	margin: 5px;
  	width: 300px;
	/*height: 50px;
	background:#bada55;*/
    display: flex;
    flex-wrap: wrap; 
    align-items: center;
    justify-content:space-around;

	}
	 .p1_age{
	  font-size: 16px;
	  color: #4d665f;
    }


  .barChart {
    height: 215px;
  }





 .age_item_0{
    background-color: #e4eed4;
    width: 100%;
    display: -webkit-flex;
    display: -ms-flexbox;



    display: flex;
    flex-wrap: wrap; 
    /*  align-items: center;*/
    align-content: center;
    justify-content:center;
 
 }
 .age_item_0_1{
    color: #fff;
  margin: 5px;
  width: 170px;
  height: 100px;
  /*height: 50px;
  background:#bada55;*/
  text-align: center; 
  font-size: 26px;
    font-family: 'Roboto', sans-serif;
    border-radius: 5px;
    /*  border-left: 6px solid #fff;*/

    display: flex;
    flex-wrap: wrap; 
    align-items: center;
    justify-content:space-around;

 }
 .p1_multimedios{
  font-size: 14px;
 color: #003a5c;
}



@import url(https://fonts.googleapis.com/css?family=Noto+Sans);
/* #Canvas Element Circular charts
================================================== */
canvas, video {display: inline-block;}

.stats-container {
margin: 0;
padding: 0;
list-style: none;
text-align: center;
padding-bottom: 10px;

}

.stats-container li {
  display: inline-block;
  margin: 0;
  position: relative;
}

.circular-stat {
  position: relative;
}

.circular-stat .digit-label {
  color:  #1e5372;
  font-family: "Noto Sans", "Helvetica Neue", Helvetica, arial, sans-serif;
  font-size: 1.6em;
  text-align: center;
  display: inline-block;
  position: absolute;
  top: 11.5%;
  width: 75%;
  left: 6%;
  padding: 30px 0 0 30px;
    text-shadow:-1px 1px 0px #fff 
  white-space: nowrap;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

.circular-stat .text-label {
  font-family:"Noto Sans", "Helvetica Neue", Helvetica, arial, sans-serif;
  color: #333;
  font-size:1.0em;
  top: 50%;
  left: 21.875%;
  width: 56.25%;
  padding-top: 6px;
  display: inline-block;
  position: absolute;
  text-align: center;
  border-top: 1px solid #999;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

span.text-title {
  color:  #72668a;
  font-family: "Noto Sans", "Helvetica Neue", Helvetica, arial, sans-serif;
  text-align: center;
  letter-spacing: -1px;
  font-size: 1.3em;
  font-weight: 400;
  text-shadow: -1px 1px 0px #FFF;
  padding: 30px 10px 0 0px;
  margin-top: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  z-index: 99999;
  display: block;
  text-shadow: -1px 1px 0px #fff;
}



@media only screen and (min-width: 1010px) { 
.stats-container li {margin: 0 2% 5px;}
}
@media only screen and (max-width: 1009px) { 
.stats-container li {margin: 0 -.2em 5px;}
}


/* desktop_movil*/


.desktop_movil{
   width: 100%;
     color: #f8fcf2;
   border:0px solid #f2f2f2;
   /*background: #faf7f3;   fallback for old browsers */
   display: flex;
    flex-wrap: wrap; 
    /*  align-items: center;*/
     align-content: center;
    justify-content:center;
}
.item_desktop_movil{

  margin: 5px;
  width: 600px;
  /*height: 50px;
  background:#bada55;*/
  text-align: center; 
  font-size: 26px;
    font-family: 'Roboto', sans-serif;
    border-radius: 5px;
}






/* fin desktop_movil*/





section {
  font-family: montserrat;
  background: #F4F4F4;
}

section .container {
  position: relative;
  width: 100%;
  max-width: 1230px;
  margin: auto;
  background: #fff;
  padding: 0 10px;
  box-sizing: border-box;
  overflow: hidden;
}

section .container h1 {
  position: relative;
  z-index: 2;
  display: inline-block;
  margin: 0;
  padding: 0.4em 0;
  font-weight: 700;
  font-size: 2.0em;
  line-height: 0.8em;
  text-transform: uppercase;
  letter-spacing: -0.05em;
  color: #777;
  white-space: nowrap;
}

section .container .bg-text {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
  width: 100%;
  display: inline-block;
  margin: 0;
  font-size: 6.5em;
  line-height: 0.7em; 
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: -0.1em;
  color: #F4F4F4;
  white-space: nowrap;
}

footer{
	background-color: #33414a;
	color: white;
	width: 100%;
	text-align: justify;
	position: absolute;
	display:block;
	left: 0px;
	font-family: 'Roboto', sans-serif;
}
.footer_container{
	 display: flex;
	  width: 100%;
	  padding: 0px;
	  flex-wrap: wrap; 
	  align-items: center;
	  justify-content:center;

}
.item_footer{
	color: #fff;
	margin: 5px;
	width: 300px;
	/*height: 50px;*/
	text-align: center;	
	font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
}
.header_footer{
	font-size: 18px;
	margin: 5px;
}
.text_footer{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
}
.fab{
	margin: 5px;
	color: #C0FFEE;
}
