/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, main {
	display: block;
}
body {
	line-height: 1;
	margin: 10px;
	font: 12px "Verdana";
}
h1{
	font-size: 40px;
	text-align: center;  
	margin: 22px 0;
  }

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* bar first */
.barchart-Wrapper {
	display: table;
	position: relative;
	margin: 20px 0;
	height: 320px; /* defines height for the box, everything else responds to this */
}

.barChart-Container {
	display: table-cell;
	width: 98%;
	height: 100%;
	padding-left: 15px;
}

.barchart {
	display: table;
	table-layout: fixed;
	height: 100%;
	width: 100%;
}

.barchart-Col {
	position: relative;
	vertical-align: bottom;
	display: table-cell;
	height: 100%;
}
.barchart-Col +.barchart-Col {
	border-left: 4px solid transparent;
}

.barchart-Bar {
	background: #ed2e82;
	position: relative;
}
.barchart-Bar:after {
	content: attr(attr-height);
	color: white;
	position: absolute;
	text-align: center;
	width: 100%;
}

.barchart-BarFooter {
	position: absolute;
	text-align: center;
	height: 10%;
	width: 100%;
}

.barchart-TimeCol {
	position: absolute;
	top: 0;
	width: 2%;
	height: 100%;
	width: 100%;
	overflow-x: hidden;
}

.barchart-Time {
	height: 10%;
	vertical-align: middle;
	position: relative;
}

.barchart-Time:first-child .barchart-TimeText {
	top: -3px;
}

.barchart-Time:last-child .barchart-TimeText {
	top: -12px;
}

.barchart-Time:after {
	border-bottom: 1px dashed #ccc;
	content: "";
	position: absolute;
	width: 10000%;
	left: 0;
	top: 0em;
}

.barchart-Time:last-child:after {
	border-bottom: none;
}

.barchart-TimeText {
	position: absolute;
	top: -7px;
	z-index: 1;
	background: white;
	padding-right: 5px;
}

.lt-ie9 .barchart-TimeText {
	top: -3px !important;
}


#demo-wrapper {
	display: flex;
}







.container_flex_title{
	width: 100%;
/*	background-color: #C0FFEE;*/
	display: flex;
	justify-content: center;
}
.container_0{
	font-size: 35px;
    font-family: 'Roboto', sans-serif;
    color: #4d665f;
}

.container_flex_multimedios{
	width: 100%;
	background:#f2f2f2;
	padding: 0px;
	border:5px solid #f2f2f2;
	margin: 0px;
    color: #fff;
    /* flexbox */
	display: flex;
    flex-wrap: wrap; 
    align-items: center;
    justify-content:center;
    align-items:center;
}
.p1{
  font-size: 18px;
  color: #fff;
}
.p2{
  font-size: 18px;
  color: #777;
}
.container_1{
	color: #FFF;
	margin: 5px;
	width: 300px;
	/*height: 50px;*/
	background:#bada55;
	text-align: center;	
	font-size: 30px;
    font-family: 'Roboto', sans-serif;
    border-radius: 5px;
   /*  border-left: 6px solid #fff;*/
}

.container_2{
	color: #777;
	margin: 5px;
	width: 300px;
	/*height: 50px;*/
	text-align: center;	
	font-size: 30px;
    font-family: 'Roboto', sans-serif;
    border-radius: 5px;
    border-left: 6px solid #fd7d7a;
    background-color: white;
}





section {
  font-family: montserrat;
  background: #F4F4F4;
}

section .container {
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: auto;
  background: #fff;
  padding: 0 10px;
  box-sizing: border-box;
  overflow: hidden;
}

section .container h1 {
  position: relative;
  z-index: 2;
  display: inline-block;
  margin: 0;
  padding: 0.4em 0;
  font-weight: 700;
  font-size: 2.4em;
  line-height: 0.8em;
  text-transform: uppercase;
  letter-spacing: -0.05em;
  color: #777;
  white-space: nowrap;
}

section .container .bg-text {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
  width: 100%;
  display: inline-block;
  margin: 0;
  font-size: 7.9em;
  line-height: 0.7em; 
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -0.1em;
  color: #F4F4F4;
  white-space: nowrap;
}


















/* table */

table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
  overflow: hidden;
}
table td, table th {
  border-top: 1px solid #ECF0F1;
  padding: 10px;
}
table td {
  border-left: 1px solid #ECF0F1;
  border-right: 1px solid #ECF0F1;
}
table th {
  background-color: #FF6B6D;
}
table tr:nth-of-type(even) td {
  background-color: #FFB2B3;
}
table .total th {
  background-color: white;
}
table .total td {
  text-align: right;
  font-weight: 700;
}
 
.responsive-toggle {
  display: none;
}
 
@media only screen and (max-width: 300px) {
  table tr th:not(:first-child) {
    width: 50%;
    font-size: 14px;
  }
  table tr td:not(:first-child) {
    width: 50%;
    font-size: 14px;
  }
}
 
 
@media only screen and (max-width: 765px) {
  p {
    display: block;
    font-weight: bold;
  }
 
  table tr td:not(:first-child), table tr th:not(:first-child), table tr td:not(.total-budget) {
    display: none;
  }
  table tr:nth-of-type(even) td:first-child {
    background-color: #FFB2B3;
  }
  table tr:nth-of-type(odd) td:first-child {
    background-color: white;
  }
  table tr:nth-of-type(even) td:not(:first-child) {
    background-color: white;
  }
  table tr th:first-child {
    width: 100%;
    display: block;
  }
  table tr th:not(:first-child) {
    width: 40%;
    transition: transform 0.4s ease-out;
    transform: translateY(-9999px);
    position: relative;
    z-index: -1;
  }
  table tr td:not(:first-child) {
    transition: transform 0.4s ease-out;
    transform: translateY(-9999px);
    width: 60%;
    position: relative;
    z-index: -1;
  }
  table tr td:first-child {
    display: block;
    cursor: pointer;
  }
  table tr.total th {
    width: 25%;
    display: inline-block;
  }
  table tr td.total-budget {
    display: inline-block;
    transform: translateY(0);
    width: 75%;
  }
}
/** code by webdevtrick ( https://webdevtrick.com ) **/
* {
  box-sizing: border-box;
}
 
body {
  font-family: 'Lato', sans-serif;
  color: #202020;
}
 
table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
  overflow: hidden;
}
table td, table th {
  border-top: 1px solid #ECF0F1;
  padding: 10px;
}
table td {
  border-left: 1px solid #ECF0F1;
  border-right: 1px solid #ECF0F1;
}
table th {
  background-color: #FF6B6D;
}
table tr:nth-of-type(even) td {
  background-color: #FFB2B3;
}
table .total th {
  background-color: white;
}
table .total td {
  text-align: right;
  font-weight: 700;
}
 
.responsive-toggle {
  display: none;
}
 
@media only screen and (max-width: 300px) {
  table tr th:not(:first-child) {
    width: 50%;
    font-size: 14px;
  }
  table tr td:not(:first-child) {
    width: 50%;
    font-size: 14px;
  }
}
 
 
@media only screen and (max-width: 765px) {
  p {
    display: block;
    font-weight: bold;
  }
 
  table tr td:not(:first-child), table tr th:not(:first-child), table tr td:not(.total-budget) {
    display: none;
  }
  table tr:nth-of-type(even) td:first-child {
    background-color: #FFB2B3;
  }
  table tr:nth-of-type(odd) td:first-child {
    background-color: white;
  }
  table tr:nth-of-type(even) td:not(:first-child) {
    background-color: white;
  }
  table tr th:first-child {
    width: 100%;
    display: block;
  }
  table tr th:not(:first-child) {
    width: 40%;
    transition: transform 0.4s ease-out;
    transform: translateY(-9999px);
    position: relative;
    z-index: -1;
  }
  table tr td:not(:first-child) {
    transition: transform 0.4s ease-out;
    transform: translateY(-9999px);
    width: 60%;
    position: relative;
    z-index: -1;
  }
  table tr td:first-child {
    display: block;
    cursor: pointer;
  }
  table tr.total th {
    width: 25%;
    display: inline-block;
  }
  table tr td.total-budget {
    display: inline-block;
    transform: translateY(0);
    width: 75%;
  }
}


