/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, main {
	display: block;
}
body {
	line-height: 1;
	margin: 10px;
	font: 12px "Verdana";
}


ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



.barchart-Wrapper {
	display: table;
	position: relative;
	margin: 20px 0;
	height: 320px; /* defines height for the box, everything else responds to this */
}

.barChart-Container {
	display: table-cell;
	width: 98%;
	height: 100%;
	padding-left: 15px;
}

.barchart {
	display: table;
	table-layout: fixed;
	height: 100%;
	width: 100%;
}

.barchart-Col {
	position: relative;
	vertical-align: bottom;
	display: table-cell;
	height: 100%;
}
.barchart-Col +.barchart-Col {
	border-left: 4px solid transparent;
}

.barchart-Bar {
	background: #ed2e82;
	position: relative;
}
.barchart-Bar:after {
	content: attr(attr-height);
	color: white;
	position: absolute;
	text-align: center;
	width: 100%;
}

.barchart-BarFooter {
	position: absolute;
	text-align: center;
	height: 10%;
	width: 100%;
}

.barchart-TimeCol {
	position: absolute;
	top: 0;
	width: 2%;
	height: 100%;
	width: 100%;
	overflow-x: hidden;
}

.barchart-Time {
	height: 10%;
	vertical-align: middle;
	position: relative;
}

.barchart-Time:first-child .barchart-TimeText {
	top: -3px;
}

.barchart-Time:last-child .barchart-TimeText {
	top: -12px;
}

.barchart-Time:after {
	border-bottom: 1px dashed #ccc;
	content: "";
	position: absolute;
	width: 10000%;
	left: 0;
	top: 0em;
}

.barchart-Time:last-child:after {
	border-bottom: none;
}

.barchart-TimeText {
	position: absolute;
	top: -7px;
	z-index: 1;
	background: white;
	padding-right: 5px;
}

.lt-ie9 .barchart-TimeText {
	top: -3px !important;
}







